.footer {
  background: #000000;
  padding: 2rem;
  color: #ccb531;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 1rem;
}

.socials span {
  font-size: 4rem;
  margin-right: 1rem;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.TitreFooter{
  color: #ccb531;
  font-size: 4rem;
  text-align: center;
}

.PFooter{
  color: #ccb531;
  font-size: 2rem;
  text-align: center;
}